/.quarto/
/_freeze/
/_site/
/site_libs/
.cache/
*_files/
*.html
.DS_Store

**/*.quarto_ipynb

# Local VSCode settings
/.vscode/

# PumasProductManager
/key.pub
/Manifest.toml
/Manifest.toml.sign
/PackageBundler.toml
/Project.toml
/Project.toml.sign
